.git/**
.vscode/**
src/**
tests/**
node_modules/**
.test-work/**
.vscode-test/**
examples/**/.vivado/**
dist/**/*.map
tsconfig.json
esbuild.mjs
package-lock.json
*.vsix
**/*.log
**/*.jou
**/*.pb
.Xil/**
xsim.dir/**
.gitignore
